<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Capítulos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="data:image/png;base64, {{cover}}" class="big-img" />
  <ion-grid>
    <ion-row *ngFor="let chapter of chapters.getAll()">
      <ion-col><ion-button fill="solid" [routerLink]="['/chapter/{{chapter.id}}']">{{chapter.title}}</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button [routerLink]="['/bookmarks']" fill="clear"><ion-icon name="bookmark"></ion-icon></ion-button>
</ion-footer>
