<ion-header>
  <ion-toolbar>
    <ion-title>Epdf Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/setup/books"><ion-icon name="create-outline"></ion-icon></ion-button><div>Cadastro de Livros</div>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/books/menu"><ion-icon name="book-outline"></ion-icon></ion-button><div>Ler um Livro</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-button fill="clear" (click)="rotate()"><ion-icon [name]="portrait?'phone-portrait-outline':'phone-landscape-outline'"></ion-icon></ion-button>
    <ion-button fill="clear" (click)="toggleDark()"><ion-icon name="contrast-outline"></ion-icon></ion-button>
  </ion-row>
</ion-footer>
