<ion-header>
  <ion-toolbar>
    <ion-title>Bookmarks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let chapterMarks of allChapterMarks">
      <ion-item color="medium">
        <h1>{{chapterMarks.chapter.title}}</h1>
      </ion-item>
      <ion-item *ngIf="!chapterMarks.bookmarks">
        <ion-button fill="clear" (click)="goto(bookid,chapterMarks.chapter.id,0)"><ion-icon name="arrow-redo-outline"></ion-icon></ion-button>
        <ion-label>Page 0</ion-label>
      </ion-item>
      <ion-item *ngFor="let book of chapterMarks.bookmarks">
        <div (click)="goto(bookid,chapterMarks.chapter.id,book.pagenum)" style="display:flex;align-items:center;">
          <ion-button fill="clear"><ion-icon name="arrow-redo-outline"></ion-icon></ion-button>
          <ion-label>Page {{book.pagenum}} {{book.description!=''?' - '+book.description:''}}</ion-label>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
